/* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; 
 */
:root {
  --very-dark-blue-mainBG: hsl(233, 47%, 7%);
  --dark-desaturated-blue-cardBG: hsl(244, 38%, 16%);
  --soft-violet-accent: hsl(277, 64%, 61%);
  /* Nuetral */
  --white-heading-stats: hsl(0, 0%, 100%);
  --slightly-white-mainParagraph: hsla(0, 0%, 100%, 0.75);
  --slightly-white-statHeading: hsla(0, 0%, 100%, 0.6);
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  /* line-height: 1.5; */
  color: var(--slightly-white-mainParagraph);
  background-color: var(--very-dark-blue-mainBG);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 2.8rem;
  color: var(--white-heading-stats);
  line-height: 1.1;
  margin-top: 1rem;
}

h2 {
  font-size: 2.4rem;
  color: var(--white-heading-stats);
  margin-bottom: 0.6rem;
}

p {
  margin: 0;
}

.heading-word {
  color: var(--soft-violet-accent);
}

.stat__text {
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3.6rem;
  }
}

/* Card */

.card {
  border-radius: 8px;
  background: var(--dark-desaturated-blue-cardBG);
  min-width: 327px;
  /* padding: 3rem; */
  max-width: 1110px;
}

.card__picture {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--soft-violet-accent);
  opacity: 0.5;
}

.card__picture > img {
  width: 100%;
  height: 100%;
}

.card__content {
  text-align: center;
  padding: 3rem;
}

.card__stat p {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer {
  margin-top: 4rem;
}

@media screen and (min-width: 768px) {
  .card__content {
    text-align: left;
    padding-left: 6rem;
    padding-right: 11rem;
    padding-top: 7rem;
    /* padding-bottom: 0; */
  }

  .card__stat h2 {
    margin-top: 0;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 7rem;
  }
}

/* Grid */

.grid {
  display: grid;
}

/* .grid-item {
  position: relative;
} */

@media screen and (min-width: 768px) {
  .grid-1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-item:first-child {
    order: 2;
  }

  .grid-item:last-child {
    order: 1;
  }
}
